.page{
  .title{
    margin: $blockMargin;
  }
  .wrap{
    margin: $blockMargin;
  }

  .line{
    height: 1px;
    border-bottom: 1px solid #ddd;
    margin: $blockMargin 0;
  }
}

:global{
  .demo-form .ant-form-item-label{
    width: 100px;
  }
}