body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100%;
}

/*  全局样式 begin */

.ant-layout{
  width: 100%;

  .ant-layout-sider{
    position: fixed;
    top: 64px;
    height: 100vh;
    z-index: 1;
  }
}

.ant-layout.ant-layout-has-sider > .ant-layout{
  margin-left: 230px;
  transition: all 0.2s;
}

@media screen and (max-width: 991px) {
  .ant-layout.ant-layout-has-sider > .ant-layout {
    margin-left: 0;
  }
}
/* 全局样式 end*/
